$blue: #0064EB;
$gray: #808080;

@mixin font($family, $style, $weight, $size, $line-height) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

.repositories-info {
  .pagination {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;
    @include font('Inter', normal, 400, 14px, 21px);
    color: $gray;

    .control-panel {
      display: flex;
      column-gap: 12px;
      align-items: center;

      .break {
        &__link {
          padding: 4px;
        }
      }

      &__page {
        display: block;
        padding: 4px;

        &:hover {
          cursor: pointer;
        }

        &_active {
          background-size: 100% 100%;
          background: $blue;
          border-radius: 3px;
          padding: 2px 6px;
          color: white;
        }
      }

      .previous,
      .next,
      .break {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        width: auto;
        height: auto;
      }

      .previous,
      .next {
        margin-top: 2px;

        &__link {
          box-sizing: content-box;
          transform: rotate(-180deg);
          background-repeat: no-repeat;
          background-image: url('../../../public/icons/arrow-right.svg');
          background-size: 18px 18px;
          background-position: center;
          padding: 3px;
          display: block;
          width: 18px;
          height: 18px;
        }

        &:hover {
          filter: brightness(0) saturate(100%) invert(37%) sepia(83%) saturate(5573%) hue-rotate(204deg) brightness(92%) contrast(108%);
        }
      }

      .next__link {
        transform: rotate(0deg);
      }

      .disabled {
        cursor: auto;

        &:hover {
          filter: brightness(0) saturate(100%) invert(52%) sepia(7%) saturate(0%) hue-rotate(223deg) brightness(95%) contrast(88%);
        }
      }

    }
  }

  &__container {
    padding: 0;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  &__content {
    display: grid;
    row-gap: 22px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(112px, max-content);
    align-content: flex-start;
    min-height: 534px;
  }

  &__title {
    @include font('Inter', normal, 600, 32px, 130%);
    color: black;
    margin-bottom: 25px;
  }

  .repository {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 24px 32px;

    &__title {
      @include font('Inter', normal, 500, 24px, 29px);
    }

    &__description {
      margin-top: 16px;
    }
  }
}


@media (max-width:1100px) {
  .repositories-info {
    padding: 0 7%;

    &__content {
      row-gap: 24px;
      grid-auto-rows: minmax(108px, max-content);
    }

    &__title {
      margin-bottom: 29px;
      font-size: 26px;
    }

    .repository {
      padding: 22px 27px;

      &__title {
        font-size: 22px;
      }

      &__description {
        margin-top: 14px;
      }
    }

    .pagination {
      margin-top: 20px;
    }
  }
}


@media (max-width:800px) {
  .repositories-info {
    padding: 0 2%;
  }
}


@media (max-width:650px) {
  .repositories-info {
    padding: 0;

    &__content {
      grid-auto-rows: minmax(100px, auto);
      min-height: 490px;
    }

    &__title {
      font-size: 24px;
    }

    .repository {
      word-break: break-all;
      padding: 20px 24px;

      &__title {
        font-size: 20px;
      }

      &__description {
        font-size: 15.5px;
        margin-top: 10px;
      }
    }
  }
}


@media (max-width:600px) {
  .repositories-info {

    &__content {
      grid-auto-rows: minmax(100px, max-content);
      min-height: 470px;
    }

    .pagination {
      margin-top: 24px;
    }
  }
}


@media (max-width:510px) {
  .repositories-info {
    &__content {
      row-gap: 20px;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 25px;
    }

    .repository {
      padding: 13px 20px;

      &__title {
        font-size: 18px;
      }

      &__description {
        font-size: 14px;
        margin-top: 8px;
      }
    }

    .pagination {
      line-height: 19px;
      margin-top: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      font-size: 12.5px;

      .items-info {
        font-size: 12px;
        align-self: flex-start;
      }

      .control-panel {
        column-gap: 15px;

        &__page {
          padding: 3px;

          &_active {
            padding: 3px 6px;
          }
        }

        .previous,
        .next {
          margin-top: 1px;

          &__link {
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}


@media (max-width:420px) {
  .repositories-info {
    &__content {
      row-gap: 16px;
    }

    &__title {
      font-size: 21px;
      margin-bottom: 22px;
    }

    .repository {
      &__title {
        font-size: 16.5px;
      }

      &__description {
        margin-top: 4px;
      }
    }

    .pagination {
      row-gap: 10px;
      font-size: 11.5px;

      .items-info {
        font-size: 11px;
      }

      .control-panel {
        column-gap: 12px;
      }
    }
  }
}