@import url('../../reset.scss');

$blue: #0064EB;
$hoverBlue: #217BF4;

@mixin font($family, $style, $weight, $size, $line-height) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

.app-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  font-family: 'Inter', sans-serif;
}

.main {
  background-color: #F9F9F9;
}

.container {
  margin: 0 auto;
  max-width: 1255px;
  box-sizing: border-box;
}


.link {
  color: $blue;

  &:hover {
    color: $hoverBlue;
  }
}


.text {
  @include font('Inter', normal, 400, 16px, 19px);
  color: black;
}